<!-- partials/eventCard.handlebars -->
{{log this}}
<div class="card" style="width: 30%; margin: 1%;">
    <div class="card-body">
        <h5 class="card-title">Host: {{this.created_user.first_name}} {{this.created_user.last_name}}</h5>
        <p class="card-text">Description: {{description}}</p>
        <p class="card-text">Date: {{date}}</p>
        <p class="card-text">Time: {{start_time}} - {{end_time}}</p>
        <p class="card-text">Location: {{this.created_user.suburb}}</p>
        <p class="card-text">Contact: {{this.created_user.phone_number}}</p>
        <button id="eventButton-{{this.id}}" 
                data-event-id="{{this.id}}" 
                data-new-status="{{#if this.is_open}}false{{else}}true{{/if}}"
                class="btn {{#if this.is_open}}btn-primary{{else}}btn-secondary{{/if}}">
            {{#if this.is_open}}OPEN{{else}}BOOKED{{/if}} - ACCEPT
        </button>
    </div>
</div>

        <p class="card-text">Location: {{userdetails.suburb}}</p>
        <p class="card-text">Contact: {{userdetails.phone_number}}</p>
        {{#if this.is_open}}
            <button id="eventButton-{{this.id}}"
                    data-event-id="{{this.id}}"
                    class="btn event-button btn-primary open">
                OPEN - ACCEPT
            </button>
        {{else}}
            <button disabled class="btn event-button btn-secondary booked">
                BOOKED
            </button>
        {{/if}}
    </div>
</div>
