<div class="card event-card">
    <div class="card-body">
        <h5 class="card-title"><strong>Host: </strong>{{this.created_user.first_name}} {{this.created_user.last_name}}</h5>
        <p class="card-text"><strong>Title: </strong>{{title}}</p>
        <p class="card-text"><strong>Description: </strong>{{description}}</p>
        <p class="card-text"><strong>Date: </strong>{{date}}</p>
        <p class="card-text"><strong>Time: </strong>{{start_time}} - {{finish_time}}</p>
        <p class="card-text"><strong>Location: </strong>{{this.created_user.suburb}}</p>
        <p class="card-text"><strong>Contact: </strong>{{this.created_user.phone_number}}</p>
        <p class="card-text"><strong>Points: </strong> {{duration}}</p>
        <p class="card-text"><strong>Status: </strong>{{#if this.accepted_by}}<strong style="color: RED">BOOKED by <a class="booked-user" data-user-id={{accepted_user.id}}>{{accepted_user.first_name}}</a></strong>{{else}}<strong style="color: GREEN">OPEN</strong>{{/if}}</p>
        <button id="eventButton"
                data-event-id="{{this.id}}" 
                class="btn btn-danger mx-auto booked eventButton">
                CANCEL 
        </button>
    </div>
</div>