<input type="hidden" class="userId" id="userId" value="{{userdetails.id}}"> 
<div class="container mt-4" id="myEvents">
    <h1>{{userdetails.first_name}} {{userdetails.last_name}}'s Events</h1>
    <h2>Created Events</h2>
    <div class="d-flex events-container created-event-container ">
        {{#if created_events}}
        {{#each created_events as |event|}}
            {{> myEventCard event }}
        {{/each}}
        {{else}}
        <p>You have not created any events</p>
        {{/if}}
    </div>

    <h2>Accepted Events</h2>
    <div class="d-flex events-container accepted-event-container">
        {{#if accepted_events}}
        {{#each accepted_events as |event|}}
            {{> myEventCard event }}
        {{/each}}
        {{else}} 
        <p>You have not accepted any events</p>
        {{/if}}
    </div>
</div>

<script src="/js/deleteEvent.js"></script>
